.homepage-area{
    width: 65%;
    align-items: center;
    background-color: #efefef;
    padding: 100px 20px;
    border: 1px solid #ededed;
    gap: 50px;
}
.question-area-home{
    width: 100%;
    align-items: center;
    gap: 15px;
}
.question-card{
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
    justify-content: space-around;
    transition: 1s;    
    border-radius: 15px;
}
.question-card h5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.question-card:hover{
    transform: scale(1.1);
    background-color: #ededed;
    margin: 10px;
}
.profile-img-homePage{
    display: flex;
    width: 40px;
    height: 40px;
    border: 2px solid #a6a6a6;
    border-radius: 50%;
    padding: 2px;
}
.user-question-info{
    gap: 5px;
    align-items: center;

}

span.question-img img{
    width: 100%;
    height: 100%;
    border-radius: 0;
    
}

.date{
    display: block;
    color: #000;
    text-decoration: none;
    margin-left: 40px;
    text-align: start;
}