
h2{
    align-self: flex-start;
    font-size: 30px;
}
.login{
    padding: 50px 20px;
    display: grid;
    grid-template-areas:
            "title title"
            "login signup";
    margin-top: 50px;
    border: 1px solid #ededed;
}
.login h1{
    font-size: 40px;
    justify-self: center;
    grid-area: title;
    margin-bottom: 100px;
}
.login form{
    padding: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.login input{
    background-color: #fafafa;
    border: 1px solid #ededed;
    font-size: 15px;
    padding: 1px 5px;
    height: 35px;
    width: 250px;
    font-family: 'Mukta', sans-serif;
}
.login-form{
    justify-self: center;
    grid-area: login;
}
.signup-form{
    justify-self: center;
    grid-area: signup;
}
.button-login{
    color: white;
    font-size: 20px;
    border: 1px solid #ededed;
    border-radius: 15px;
    max-width: 150px;
    background-color: #7ab3f4;
    padding: 1px 5px;
    width: 250px;
}
.button-login:hover{
    cursor: pointer;
    background-color: #5fa5f3;
}