.users-area{
    width: 80%;
    gap: 10px;
    white-space: nowrap;
    overflow: auto;
}
.profile-img-users{
    border: 2px solid red;
    border-radius: 50%;
    padding: 3px;
    display: flex;
    width: 100px;
    height: 100px;
}
.profile-img-users:hover{
    transform: scale(0.8);
}
