.video-area{
    gap: 40px;
    padding: 100px 20px;
    width: 100%;
    background-color: #efefef;
}
.video-area img{
    border-radius: 0;
    height: 250px;
}
.video-area input{
    font-size: 20px;
    background-color: #fafafa;
    border: 1px solid #ededed;
    border-radius: 15px;
    padding: 5px 10px;
    height: 40px;
    width: 80%;
}

.video-area input:focus{
    outline: none;
}

.video-title{
    background-color: #fafafa;
    border: 1px solid #ededed;
    border-radius: 15px;
    padding: 2px 5px;
}
.video-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}